#User-Username {
  padding-top: 100px;
  padding-top: 100px;
  padding-bottom: 100px;
  width: 1200px;
  margin: auto;

  .spinner-grow {
    background-image: linear-gradient(to left, #833ab4, #e1306c, #f56040);
  }

  .username-res {
    display: none;
  }

  h3 {
    font-family: "Dancing Script", cursive;
    font-family: "Pacifico", cursive;
    background-image: linear-gradient(
      to left,
      #5b51d8,
      #833ab4,
      #e1306c,
      #fd1d1d,
      #f56040
    );
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .col-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    .buttons {
      .btn {
        text-transform: uppercase;
        font-style: italic;
        margin-right: 15px;
        &:last-of-type {
          margin-right: 0px;
        }
      }
    }

    .user-img {
      overflow: hidden;
      border-radius: 50px;
      width: 250px;
      height: 250px;
      border: 2px solid transparent;
      background: linear-gradient(
        to left,
        #5b51d8,
        #833ab4,
        #e1306c,
        #fd1d1d,
        #f56040
      );
    }
  }

  .col-8 {
    th:hover {
      cursor: pointer;
      background-image: linear-gradient(
        to left,
        #5b51d8,
        #833ab4,
        #e1306c,
        #fd1d1d,
        #f56040
      );
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .selected {
      background-image: linear-gradient(
        to left,
        #5b51d8,
        #833ab4,
        #e1306c,
        #fd1d1d,
        #f56040
      );
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    tbody {
      border: transparent;
    }
  }
}

@media (max-width: 576px) {
  #User-Username {
    .row {
      display: flex;
      flex-direction: column;
      align-items: center;

      .username-res {
        display: block;
      }

      .username-lrg {
        display: none;
      }

      .col-8 {
        margin-top: 50px;
      }
    }
  }
}

@import "Posts";
