#footer {
  ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    list-style: none;
  }
  li {
    margin-right: 20px;
    color: gray;
    cursor: pointer;
    font-size: 0.7rem;

    &:last-of-type {
      margin-right: 0px;
    }
  }

  p {
    color: gray;
    font-size: 0.7rem;
  }
}

@media (max-width: 768px) {
  #footer {
    li {
      font-size: 0.5rem;
    }

    p {
      font-size: 0.7rem;
    }
  }
}
