#HomePosts {
  display: flex;
  flex-direction: column;
  align-items: center;

  .new-post {
    position: fixed;
    z-index: 100 !important;
    cursor: pointer;

    &:hover {
      transition: 0.5s;
      -webkit-transform: scale(1.25);
      -moz-transform: scale(1.25);
      -ms-transform: scale(1.25);
      -o-transform: scale(1.25);
      transform: scale(1.25);
    }
  }

  .card {
    width: 500px;

    small {
      color: gray;
    }

    .card-title {
      strong {
        &:hover {
          cursor: pointer;
          background-image: linear-gradient(
            to left,
            #5b51d8,
            #833ab4,
            #e1306c,
            #fd1d1d,
            #f56040
          );
          background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }

      span {
        &:hover {
          transition: 0.4s;
          color: #fd1d1d;
          cursor: pointer;
        }

        .full-heart {
          color: #b90b0b;
        }
      }
    }
  }

  .btn-primary {
    text-transform: uppercase;
    font-style: italic;
    border: whitesmoke;
    background: linear-gradient(
      to left,
      #5b51d8,
      #833ab4,
      #e1306c,
      #fd1d1d,
      #f56040
    );
  }

  .alert-np {
    text-align: center;
    width: 700px;
    text-transform: uppercase;
    background: linear-gradient(
      to left,
      #5b51d8,
      #833ab4,
      #e1306c,
      #fd1d1d,
      #f56040
    );
    border: 1px solid whitesmoke;
    color: whitesmoke;
  }
}
